<nav class="navbar bg-success mb-5">
  <div class="container text-white justify-content-center">
    <h1 class="navbar-title" routerLink="pokemons">Pokédex !</h1>
  </div>
</nav>


<router-outlet></router-outlet>


<!-- <nav class="navbar bg-success mb-5">
    <div class="container text-white justify-content-center">
        <h1>Pokédex !</h1>
    </div>
</nav>
<div class="container">
    <div class="row">
        @for(pokemon of pokemonList(); track pokemon.id) {
            <div class="col-md-4">
                <div class="col-md-3">
                    <div class="row g-0">
                      <div
                        class="col-md-4 d-flex align-items-center justify-content-center bg-light"
                      >
                        <img
                          [src]="pokemon.picture"
                          class="img-fluid rounded-start"
                          [alt]="pokemon.name"
                        />
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">{{ pokemon.name }}</h5>
                          <h6 class="card-subtitle md-2 text-body-secondary">
                            Taille : {{ size(pokemon) }}
                          </h6>
                          <p class="card-text">Points de vie : {{ pokemon.life }}</p>
                          <div class="btn-group btn-group-sm" role="group">
                            <button (click)="incrementLife(pokemon)" class="btn btn-outline-secondary" [disabled]="pokemon.life >= 30">+</button>
                            <button (click)="decrementLife(pokemon)" class="btn btn-outline-secondary" [disabled]="pokemon.life <= 10">-</button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>
<img [src]="imageSrc()" [alt]="name()" />
<h2>{{ name() }}</h2>
<p>Taille : {{size()}}</p>
<p>Point de vie : {{life()}}</p>
<button (click)="decrementLife()" [disabled]="life() <= 10">-</button>
<button (click)="incrementLife()" [disabled]="life() >= 30">+</button> -->
